@model IEnumerable<signalR101.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<a class="btn btn-primary" asp-action="AddProduct">New Product</a> <br/><br/>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>

           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@item.Id"
                   >Edit</a>
                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-productId="@item.Id"
                   onclick="return confirm ('Are you sure want to delete product?');">Delete</a>


            </td>
        </tr>
}
    </tbody>
</table>
